@use "../../abstract" as *;

.actionContainer {
  width: 100%;

  span:first-child {
    svg {
      cursor: pointer;
      fill: green;
      margin: 0 5px;
    }
  }

  span:last-child {
    svg {
      cursor: pointer;
      fill: red;
      margin: 0 5px;
    }
  }
}

.modal {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
  width: 500px;
  height: 500px;
  font-size: 1.6em;
  background-color: #fff;
  box-shadow: 0 0 1em 0.1em #0005;

  h1 {
    font-weight: 400;
    text-decoration: underline;
    font-size: 1.6em;
  }

  .wrapper {
    .inputContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3em;
      margin: 1em 0;

      p {
        text-align: end;
        flex-grow: 1;
      }

      input[type="text"],
      .radioContainer,
      textarea {
        @include restartInput;
        width: 15em;
        height: 2em;
        padding: 0.4em 0.4em;
        background: themeColor($theme, fg);
        font-size: 1em;
      }

      .radioContainer {
        background: none;
        display: flex;
        justify-content: space-around;
      }

      input[type="radio"],
      label {
        cursor: pointer;
      }

      &:last-child {
        align-items: flex-start;

        textarea {
          font-family: "Inter";
          resize: none;
          height: 9em;
        }
      }
    }
  }

  .action {
    position: absolute;
    bottom: 1em;
    right: 1em;

    button {
      margin: 0 0.5em;
    }
  }
}

.action {
  button {
    @include restartButton;
    background-color: themeColor($theme, fg, 0.7);
    padding: 0.2em 0.7em;
    border-radius: 20px;

    &:hover {
      background-color: themeColor($theme, fg);
    }
  }
}
