@use "../../abstract" as *;

.wrapper {
  position: fixed;
  z-index: 100 !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: themeColor($theme, primary, 0.6);

}

.container {
  position: fixed;
  z-index: 101 !important;
  background-color: themeColor($theme, bg);
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  overflow: hidden;
  font-size: 1.6em;
}