@use "../../abstract" as *;

.wrapper {
  @include scrollbarHidden;
  padding: 0 1.2em;
  font-size: 1.6em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  grid-auto-rows: 300px;
  grid-gap: 2em;
}
