@use "../../abstract" as *;

.wrapper {
  width: 20em;

  .container {
    min-height: 3.1em;
    background-color: themeColor($theme, fg);
    padding: 0.3em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

    .background {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .item {
      cursor: default;
      position: relative;
      background-color: themeColor($theme, bg);
      margin: 0.3em 0.5em;
      padding: 0.3em;
      padding-right: 1.2em;
      border-radius: 5px;

      .cross {
        svg {
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 100%;
          translate: -120% -50%;
          fill: black;
        }
      }
    }
  }
}
