@use "./abstract" as *;
@import url("./abstract/_fonts.scss");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  font-size: $root-font-size;
  font-family: $font-family;
}

#root {
  font-size: 1.6em;
}
