@use "./abstract" as *;
@import url("./abstract/fonts.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  font-size: $root-font-size;
  font-family: $font-family;
  height: 100vh;
  overflow-x: hidden;
  @include scrollbarHidden;
}

@include noSelect;

#root {
  font-size: 1.6em;
  position: relative;
  height: 100%;
}

a {
  color: themeColor($theme, primary);
  text-decoration: none;

  &:visited {
    color: themeColor($theme, primary);
  }

  &:active {
    color: themeColor($theme, primary);
  }
}
